<h1>Add new report</h1>
<div class="row">
	< action="/report" method="post">

	<div>
		<div class="row col s12 m6 l3">
			<div class="input-field">
				<select id="projectName" name="projectName">
					{{#each projects}}
						<option value="{{id}}">{{projectName}}</option>
					{{/each}}
				</select>
				<label for="projectName">Project name</label>
			</div>
		</div>
</div>


		<div class="section ragBlock">
			{{> _rag labelMessage='Overall status' name='overallStatusRAG'}}
			{{> _rag labelMessage='Milestones status' name='milestonesRAG'}}
			{{> _rag labelMessage='Customer relations' name='customerRelationshipRAG'}}
			{{> _rag labelMessage='Team morale' name='teamMoraleRAG'}}
			{{> _rag labelMessage='PROD stability' name='prodStabilityRAG'}}
			{{> _rag labelMessage='Risks & issues' name='risksIssuesRAG'}}
			{{> _rag labelMessage='Staffing status' name='staffingRAG'}}
			{{> _flag labelMessage='Management help' name='managementSupportFlag'}}

			<!--Margin SOW block-->
			<div class="radioBlock">
					<div class="input-field">
						<label for="SOWEndDate">SOW end date</label>
						<input type="date" name="SOWEndDate" class="datepicker">
					</div>

					<div class="input-field">
						<input type="number" name="grossMargin">
						<label for="grossMargin">Gross margin, %</label>
					</div>

					<div class="input-field">
						<input type="number" name="revenue">
						<label for="revenue">Revenue, K USD</label>
					</div>
			</div>

		</div>



		<div class="row col s12 m6 l3">
			<p>What is the overall status of the project?</p>
			<div class="rag-container">
				<input type="radio" name="overallStatusRAG" value="red"/>
				<label class="card-cc circle-red" for="red"></label>
				<input type="radio" name="overallStatusRAG" value="yellow"/>
				<label class="card-cc circle-yellow" for="yellow"></label>
				<input type="radio" name="overallStatusRAG" value="green"/>
				<label class="card-cc circle-green" for="green"></label>
			</div>
		</div>

		<div class="row col s12 m6 l8 offset-l1">
			<div class="input-field">
				<label for="overallStatusComment">Describe the overall status, news and highlights!</label>
				<textarea type="text" name="overallStatusComment" class="materialize-textarea" required></textarea>
			</div>
		</div>


		<div class="row col s12 m6 l4">
			<div class="input-field">
				<label for="plans">Describe upcoming plans, please!</label>
				<textarea type="text" name="plans" class="materialize-textarea" required></textarea>
			</div>
		</div>

		<div class="row col s12 m6 l4">
			<div class="input-field">
				<label for="milestones">List agreed milestones and dates, please!</label>
				<textarea type="text" name="milestones" class="materialize-textarea" required></textarea>
			</div>
		</div>

		<div class="row col s12 m6 l3">
			<div class="input-field">
				<select id="customerRelationshipRAG" name="customerRelationshipRAG">
					<option value="green" selected>Green</option>
					<option value="amber">Amber</option>
					<option value="red">Red</option>
				</select>
				<label for="customerRelationshipRAG">Status of relationships with the customer</label>
			</div>
		</div>

		<div class="row col s12 m6 l9">
			<div class="input-field">
				<label for="customerRelationshipComment">Please add comments to relationship with the customer</label>
				<textarea type="text" name="customerRelationshipComment" class="materialize-textarea"></textarea>
			</div>
		</div>

		<div class="row col s12 m6 l3">
			<div class="input-field">
				<select name="teamMoraleRAG" required>
					<option value="green" selected>Green</option>
					<option value="amber">Amber</option>
					<option value="red">Red</option>
				</select>
				<label for="title">Status of morale in the team</label>
			</div>
		</div>

		<div class="row col s12 m6 l9">
			<div class="input-field">
				<label for="teamMoraleComment">Please add comments to the team morale</label>
				<textarea type="text" name="teamMoraleComment" class="materialize-textarea"></textarea>
			</div>
		</div>

		<div class="row col s12 m6 l3">
			<div class="input-field">
				<select name="prodStabilityRAG" required>
					<option value="green" selected>Green</option>
					<option value="amber">Amber</option>
					<option value="red">Red</option>
				</select>
				<label for="title">Status of the production stability</label>
			</div>
		</div>

		<div class="row col s12 m6 l9">
			<div class="input-field">
				<label for="prodStabilityComment">Please add comments regarding Prod stability</label>
				<textarea type="text" name="prodStabilityComment" class="materialize-textarea"></textarea>
			</div>
		</div>

		<div class="row col s12 m6 l3">
			<div class="input-field">
				<select name="risksIssuesRAG" required>
					<option value="green" selected>Green</option>
					<option value="amber">Amber</option>
					<option value="red">Red</option>
				</select>
				<label for="risksIssuesRAG">Status of the risks / issues</label>
			</div>
		</div>

		<div class="row col s12 m6 l9">
			<div class="input-field">
				<label for="risksIssuesComment">Please add comments regarding risks / issues</label>
				<textarea type="text" name="risksIssuesComment" class="materialize-textarea"></textarea>
			</div>
		</div>

		<div class="row col s12 m6 l3">
			<div class="input-field">
				<select name="staffingRAG" required>
					<option value="green" selected>Green</option>
					<option value="amber">Amber</option>
					<option value="red">Red</option>
				</select>
				<label for="staffingRAG">Status of the risks / issues</label>
			</div>
		</div>

		<div class="row col s12 m6 l9">
			<div class="input-field">
				<label for="staffingComments">Please add comments regarding risks / issues</label>
				<textarea type="text" name="staffingComments" class="materialize-textarea"></textarea>
			</div>
		</div>


		<div class="row col s12 m6 l3">
			<div class="input-field">
				<select name="managementSupportFlag" required>
					<option value="false" selected>No</option>
					<option value="true">Yes!</option>
				</select>
				<label for="title">Do you need a support from Management?</label>
			</div>
		</div>

		<div class="row col s12 m6 l9">
			<div class="input-field">
				<label for="managementSupportComment">Please add comments regarding the stuff that needs support from
					Management</label>
				<textarea type="text" name="managementSupportComment" class="materialize-textarea"></textarea>
			</div>
		</div>

		<input type="submit" value="Save" class="btn right">
	</form>
</div>